* {
    margin: 0;
    padding: 0;
}
.formRegistrasi {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.form {
    margin: 50px 50px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
input,
textarea {
    padding: 10px;
    font-size: 20px;
}
h3 {
    align-self: flex-start;
}
span {
    align-self: flex-start;
    margin-left: 10px;
}

.img {
    margin-top: 100px;
    width: 40%;
}

/* media query */
@media only screen and (max-width: 900px) {
    .img {
        display: none;
    }
    .form {
        width: 80%;
    }
}
